
*{
    background-image: url('Screenshot 2025-01-24 at 16.14.01.png');
}

input,textarea{
    border:3px solid blueviolet;
    color:#00FFAB;
}

.flex-container{
    height :100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}
.box{
    border: 8px solid blueviolet;
    background-color: ghostwhite;
    opacity: 75%;
}

.flex-element{
    color:#00FFAB;
    height:100px;
    align-content: center;
    align-items: center;
}

.loading{
    height: 100px;
    width:100px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: white;
    background-color:#00FFAB;
    animation-name: loader;
    animation-duration: infinite;
}

@keyframes loader {
    from{background-color:#00FFAB;}
    to{background-color:blueviolet;}
}