*{
    font-family: Georgia, serif;
}

body{
    background-image: linear-gradient(to bottom right,#1A002D,#0A84FF);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    opacity : 1; 
}

input{
    background-color: #222222;
    border: 1.5px solid #00E5FF;
    color:white;
    opacity: 0.8;
    font-size: 20px;
    width:400px;
}

textarea{
    background-color: #222222;
    border: 1.5px solid #00E5FF;
    color:white;
    opacity: 0.8;
    font-size: 20px;
}


.flex-container{
    height :100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form{
    border: 4px solid #00FFFF;
    border-radius: 10px;
    background-color: #101820;
    opacity: 0.85;
    box-shadow: 0px 0px 35px 5px #00FFFF,0px 0px 20px 10px #4B0082;
    backdrop-filter: blur(200px);  
    text-align: center;
    width:500px;
} 

.flex-element{
    color: white;
    height:100px;
    align-content: center;
    align-items: center;
    gap :20px;
    font-size: 25px;
    gap:10px;
}

#loader{
  display: none;
  justify-items: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right,#1A002D,#0A84FF)
}

#loader span{
 position: absolute;
}


#loader span:nth-child(2){
 height: 200px;
 width: 200px;
 border-left: 6px solid white;
 border-radius: 50%;
 animation: rot1 500ms infinite;
}

#loader span:nth-child(3){
 height:230px;
 width:230px;
 border-left: 6px solid blueviolet;
 border-radius: 50%;
 animation: rot1 600ms infinite;
}

#loader span:nth-child(4){
 height:270px;
 width:270px;
 border-left: 6px solid #00FFFF;
 border-radius: 50%;
 animation: rot1 700ms infinite;
}

#loader span:nth-child(5){
 height: 310px;
 width:310px;
 border-left: 6px solid #000000;
 border-radius: 50%;
 animation: rot1 800ms infinite;
}
 

 @keyframes rot1{
   25%{
     transform: rotate(90deg)
   }
   50%{
     transform: rotate(180deg)
   }
   75%{
     transform: rotate(270deg)
   }
   100%{
     transform: rotate(360deg)
   }
 }

#loader h1{
   text-align: center;
   color:white;
   font-size:20px;
 opacity:0;
 animation: fade 7s infinite ease-in-out;
}

@keyframes fade{
 25%{
   opacity:0.5;
 }
 50%{
   opacity:1;
 }
 75%{
   opacity:0.5;
 }
 100%{
   opacity:0;
 }
 
}

#sub{
    background-image: linear-gradient(to bottom right,#00FFFF,#0055FF);
    color: #FFFFFF;
    border: 2px solid #007BFF;
    font-size: 20px;
}

input::placeholder, textarea::placeholder {
    color: white;
}

#sub:hover{
    font-size: 25px;
    box-shadow: 10px -10px 45px 10px #00FFFF,0px 0px 20px 10px #4B0082;;
}

