
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='style.css')}}">
    <title>MSQ_BOT</title>
</head>
<body>
    <div class="flex-container">
        <center>
        <div class="box">
        <form action ="/podcast_question" method= "post" enctype='multipart/form-data' target="_blank">
        <div class="flex-element"><label>Enter guest name</label><br><br>
        <input type = "text" name = "guest_name"></div>
        <div class="flex-element"><textarea placeholder="Enter topics to cover: " rows="3" cols="33" name = "topics"></textarea></div>
        <div class="flex-element"><label>Attach guest resume</label><br><br>
        <input type = "file" name = "file"></div>
        <div class="flex-element"><label>Attach reference links</label><br><br>
        <input type = "text" name = "yt"></div><br><br>
        <input type="submit" value="Generate Podcast Questions">
        </form>
        </center>
        </div>
    </div>
    <div class="loading"></div>
    
</body>
</html>