
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='style.css')}}">
    <title>MSQ_BOT</title>
    <script type="text/javascript">
        
    </script>
</head>
<body>
    <div class="flex-container" id="fc">
        <form action ="/podcast_question" method= "post" enctype='multipart/form-data' id='myform'>
            <div class="flex-element">
                <label>Enter guest name</label><br><br>
                <input type = "text" id = "guest_name"  name= "guest_name">
            </div><br>
            <div class="flex-element">
                <textarea id = "theme" placeholder="Enter all the topics to cover: " rows="3" cols="33" name = "topics"></textarea>
            </div><br>
            <div class="flex-element">
                <textarea id = "important_question" placeholder="Enter main topics to cover: " rows="3" cols="33" name = "main_topics"></textarea>
            </div><br>
            <div class="flex-element">
                <label>Attach guest resume</label><br><br>
                <input type = "file" name = "file" id="file">
            </div><br>
            <div class="flex-element"><label>Attach reference links</label><br><br>
                    <input type = "text" name = "yt" id ="link">
            </div><br>
            <input type="submit" value="Generate Podcast Questions" id="sub">
            </form>
    </div>
    <div id="loader">
        <h1 id='message'></h1>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <script>
        const msg = [
        'Analysing Guest Resume',
        'Searching YouTube',
        'Collecting Data',
        'Generating Questions'
        ];

        let i = 0;
        let time = 0;
        function updateMsg() {
            const ele = document.getElementById('message');
            if (ele) {
                if(time == 15000){
                    ele.innerHTML = `${msg[0]}`;
                }
                else{
                    ele.innerHTML = `${msg[i]}`;
                }
                time += 5000;
                if(time%50000 == 0){
                    i = (i + 1) % msg.length;
                }
            }
        }

        setInterval(updateMsg, 5000);

        function myfun(){
            document.getElementById('fc').style.opacity = 0.2;
            document.getElementById('loader').style.display = 'flex';
        }
        
        let element = document.getElementById('myform');
        element.addEventListener("submit",myfun);

    </script>
    
</body>
</html>