
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSQ_BOT</title>
</head>
<body>
    <br><br><br><br<br><br><br><br><br><br><br><br>
    <center>
    <form action ="/podcast_question" method= "post" enctype='multipart/form-data'><br>
    <label>Enter guest name</label><br><br>
    <input type = "text" name = "guest_name"><br><br>
    <label>Enter theme related data</label><br><br>
    <input type="text" name = "theme"><br><br>
    <label>Attach guest resume</label><br><br><br>
    <input type = "file" name = "file"><br><br>
    <label>Attach reference links</label><br><br>
    <input type = "text" name = "yt"><br><br>
    <input type="submit" value="Generate Podcast Questions"><br><br>
    </form>
    </center>
    
</body>
</html>